{% extends "templates/info-header.html.twig" %}
{% block content %}
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        {% for card in cards %}
          <div class="column">
            {% include "templates/card.html.twig" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
