<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing - impwellbeing</title>
    <link rel="shortcut icon" href="/static/img/FaviconLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/landing.css">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Examples</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Documentation</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/microrutter/impwellbeing">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Coming Soon, Help The Conversation Grow With ImpWellbeing Surveys
                        </h1>
                        <p>
                            Mental health problems are all too common in the workplace and it is the leading cause of sickness absence. 
                            A staggering 70 million work days are lost each year due to mental health problems in the UK, 
                            costing employers approximately £2.4 billion per year.
                        </p>
                        </br>
                        <p>
                            Employers need to look after Employees mental health and the ability to have open, 
                            authentic conversations about mental health in the workplace is vital. 
                            This is more important than ever as we recover from the impact of the pandemic.
                        </p>
                        </br> 
                        <p class="control">
                            <a class="button is-info">
                                View Example Survey
                            </a>
                        </p>                  
                    </div>
                </div>
            </div>

    </section>
</body>

</html>
