<div class="card">
  <div class="card-image">
    <figure class="image is-2by1">
      <img src={{ card.Image.url }} alt="Company Logo" />
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {{ card.Content }}
    </div>
  </div>
  <footer class="card-footer">
    <a href="/info" target="_self" class="card-footer-item">More Info</a>
  </footer>
</div>
