<div class="card">
  <div class="card-image">
    <figure class="image is-2by1">
      <img src={{ card.Image.url }} alt="Company Logo" />
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {{ card.Content }}
    </div>
  </div>
</div>
